/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.website {
    max-width: 1340px;
    margin: auto;
    width: 100%;
}

.fa-solid {
    color: var(--main-color);
}

.icon-in-black {
    color: black;
}

.icon-in-white {
    color: white;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2px
}

a {
    text-decoration: none;
    color: black;
}

.card.no-padding {
    padding: 0px;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 50px;
}

.logo {
    margin-top: 30px;    
}

.nav {
    display: flex;
    flex-direction: row;
    margin-top: 16px; 
    list-style-type: none;
    width: 100%;

}

/*
.nav li {
    display: inline;
}
*/

nav a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-left: 69px;

    /* identical to box height */
    text-align: center;
}

nav a:hover {
    border-top: 2px #0065FC solid;
    padding-top: 16px;
    color: #0065FC;
}



.main-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}

.info-group {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 100%;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 49px;
}



.search-icon {
    width: 50px;
    height: 100%;
    background: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-text {

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height: 100%;
    border: 1px solid var(--main-bg-color);
    padding: 0px;
    width: 200px;

}

.search-button {
        background: var(--main-color);
        border: 1px solid var(--main-color);
        border-radius: 0px 15px 15px 0px;
        height: 100%;
        padding: 0px 16px;
    
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        
        color: #FFFFFF;
}

.display-search-mobile {
    display: none;
}


.filter-group {
    display: flex;
    flex-direction:row;
    justify-content:flex-start ;
    align-items: center;
    padding: 0px;
    gap: 20px;
    margin: 15px 15px;

}

.filter-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    
    color: #000000;
}



.filter-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 568px;
}

.filter-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 10px;
    gap: 5px;
    height: 50px;
    margin: 0px 4px;
   
    /* Grey/Tint2 */
    border: 2px solid #D9D9D9;
    border-radius: 25px;
}

.filter-button:hover {
    background: var(--filter-bg-color);
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.circle {
    border-radius: 100% 100%;
    border: 1px solid #D9D9D9;
    min-width: 24px;
    height: 24px;
    box-sizing: border-box;
    text-align: center;
    margin: 14px;
    justify-content: center;
}

.icon-sized-to-22px {
    font-size: 22px;
}

.filter-label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin: auto;
}

.section-title {
    font-size: 22px;
}



.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    flex-grow: 1;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    
}

.euro {
    /*** change from 700 to 600 according to the figma ****/
    font-weight: 600;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 15px 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-marseille {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.marseille-hebergement-cards {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.marseille-hebergement-cards .article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 32%;
    min-width: 180px; 
    padding-bottom: 15px;  
}


.marseille-hebergement-cards img {
    max-height: 120px;
    height: 50%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width: 100%;
}

.marseille-hebergement-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 8px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-weight: 400;
    }

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* Activités */

.activites section {
    padding: 30px;
    box-sizing: border-box;
}

.marseille-activites-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

}

.marseille-activites-cards .card-title {
    padding: 0px 19px ;
    margin: auto 0px
}

.marseille-activites-cards .article-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22%; 
}


.marseille-activites-cards img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: auto;
    height: 85%;
    max-height: 35vh;    
}

.marseille-activites-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* footer */

.footer {
    padding: 0 50px;
}


.footer-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--main-bg-color);
    padding: 0px 20px;

}



.footer-links {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    flex-direction: column;
}

.footer-link {
    margin-bottom: 15px;
}

.footer-title  {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin : 15px 0px;
}

.footer-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 28%;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .nav a{
        font-size: 14px;   
    }

    .search-text {
        font-size: 15px;
        }

    .search-button {
        font-size: 15px;
}

    .filter-group {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .display-search-mobile {
        display: none;
    }

    .filter-title {
        font-size: 15px;
        margin-bottom: 0px;
    }

    .icon-sized-to-22px {
        /*Resized to 18px for tablet*/
        font-size: 18px;
    }

    .filter-label {
        font-size: 14px;
    }

    .section-title {
        font-size: 18px;
    }
    

    .populaires-cards .card {
        width: 24vw;
    }

    .card-title {
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .card-subtitle {
        font-size: 13px;
    }
    
    .marseille-activites-cards img {
        max-height: 18vh;
    }

    .footer-link {
        font-size: 14px;
    }

    .footer-title  {
        font-size: 15px;
    }
    
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .header-container {
        flex-direction: column;
        align-items: center;
        padding: 0px;
      }

      body {
        margin: 0px
      }

    nav{
        width: 100%;
        }

    .nav {
        padding: 0px;
        margin: auto;
        justify-content: space-around;

    }

    .nav a {
        width: 50%;
        margin: auto;

    }


    nav a:hover {
        border: none;
        width: 100%;
      }

    .nav-button {
        width: 50%;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 2px var(--main-bg-color) solid;

    }

    .nav-button:active {
        border-bottom: 2px var(--main-color) solid;
    }

    .display-search-mobile {
        display: initial;
    }

    .display-search-desktop {
        display: none;
    }
    .main-container{
        padding : 0px 1px;
    }

    .info-group {
        margin : 0px 20px;  
        width: auto;  
    }
    .search-text {
        width: 180px;
    }

    .filter-bar {
        flex-wrap: wrap;
    }

    .filter-button {
        min-width: 115px;
        width: 35vw;
        margin-bottom: 5px;
    }

    .filter-label {
        font-size : 12px;
    }

    .icon-sized-to-22px {
        margin-left: 3px;
        font-size: 17px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .populaires {
    margin-top: 20px;
    }

    .populaires-cards {
        flex-direction: column;

    }

    
    .populaires-cards .card {
        width: 100%;
    }

    .hebergements-and-populaires section {
        border-radius : 0px;

    }

    .marseille-hebergement-cards .article-card {
        width: 100%;
    }

    .marseille-activites-cards {
    flex-direction: column;
    }

    .marseille-activites-cards .article-card {
        width: 100%
    }
    .marseille-activites-cards img {
        max-height: 13vh;
    }

    .marseille-activites-cards .article-card {
    margin-bottom: 10px;
    }

    .marseille-activites-cards .card-title {
        margin: 15px 0px;
    }

    .card {
        max-height: 18vh;
    }

    .footer {
        padding: 0px;
    }

    .footer-container {
        flex-direction: column;
        padding: 0px 30px;
    }

    .footer-group {
        width: 100%;
    }
}